.style {
    font-family: Lato;
}
a {
    display: inline-block;
    background-color: #9854C2;
    color: #90D5FF;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}
