.header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: purple;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center ;
}

.right-size {
    display: flex;
    align-items: right;
    justify-content: right;
}
.rigth-size a {
    text-decoration: none;
    color: white;
     padding-right: 50px;
     text-align: center;
}
.hero-section {
    height: 100vh;
    background-image: url("https://images.stockcake.com/public/9/7/f/97faad38-3199-4bf1-bc27-bfcf841b3158_large/study-group-session-stockcake.jpg");
    background-size: cover;
}
.hero-section h2 {
    text-decoration: none;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 450px;
    font-size: 50px;
    margin: 0;
}
body {
    margin: 0;
    background: #6C3BAA;
}
.left-size img {
    height: 70px;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 70px;
  padding-top: 100px;
}
.option-1 {

}
.option-2 {

}
.option-3 {
    
}
